.recipe-link {
    color: rgb(55, 99, 89);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.recipe-link:hover {
    color: rgb(28, 51, 46);
}

.container {
    border-bottom: 2px solid rgb(1, 43, 23);
    padding: 24px;
    text-align: center;
}
.container a {
    margin: 16px auto;
    padding: 16px;
}

h2, h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
    color:darkslategray;
    font-size: 28px;
}

h1 {
    color:rgb(2, 49, 53);
    font-size:48px;
}

p, li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ingredients li{
    color: rgb(55, 99, 89);
    font-size: 20px;
}